* {
    box-sizing: border-box;
    margin: 0;

}

body{
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    width:100%;
    box-sizing:border-box;
    max-width: 375px;
    position: relative;
    overflow: hidden;
    padding:360px 100px;
    margin:auto;
   background-color: #58BFE6;
   z-index:0;
}

.back {
    background-color: #4C525C; 
    border-radius: 50%; 
    position: absolute;
    right: 270px;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    z-index: 1;
}

  

.circle{
    
    background: #4C525C;
    border-radius:50%;
    position: absolute;
    width: 700px;
    height: 700px;
    left: -300px;
    top: -412px;


}



.create {
    font-size: 2.875rem;
    line-height: 55px;
    color: white;
    margin-bottom: 9.625rem;
    position:absolute;
    top:130px;
    left:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }



.name{
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 80%;
    height: 0px;
    border-radius: 20px;
    border:none;
    font-size: 20px;
    padding: 26px;
    right: 30px;
    color:white;
    top:320px;
}

.mail{
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 80%;
    height: 30px;
    right: 30px;
    border-radius: 20px;
    border:none;
    font-size: 20px;
    padding:26px;
    bottom:280px;
    color:white;
    
}

.pass{
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 80%;
    height: 30px;
    right: 30px;
    border-radius: 20px;
    border:none;
    font-size: 20px;
    padding:26px;
    bottom:210px;
    
}

:is(.name, .mail, .pass)::placeholder {
    color: #fff;
  }



.circlea{
    background: #4C525C; 
    border-radius: 50%; 
    position: absolute;
    left: 270px;
    top: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    
}


h3{
    color: black;
    position: absolute;
    width: 106px;
    height: 38px;
    left: 50px;
    top: 530px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    
}

.circleb{
    background: #ffffff;
    border-radius:50%;
    position: absolute;
    width: 398px;
    height: 398px;
    left: 200px;
    bottom:-200px;
    padding-bottom: 50px;
    z-index:-1;
}



.below {
    display: flex;
    justify-content: space-between;
    position:absolute;
    bottom: 0px;

}

a {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}


  
  .right {
    position: relative;
    color: #000000;
    padding: 5px;
    right:-175px;
    bottom:40px;
    z-index:1
  }
  
  .right::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 9px;
    background: #58BFE6;
    bottom: 0;
    left: 0;
    bottom: 5px;
    z-index: -1;
  }
  