* {
    box-sizing: border-box;
    margin: 0;

}

body{
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    width:100%;
    box-sizing:border-box;
    max-width: 375px;
    position: relative;
    overflow: hidden;
    padding:360px 100px;
    margin:auto;
   background-color: white;
   z-index:0;
}

.back {
    background-color: #FFAE48; 
    border-radius: 50%; 
    position: absolute;
    right: 270px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    z-index: 1;
}

  
.circlea{
    background: #58BFE6;
    border-radius:50%;
    position: absolute;
    width: 398px;
    height: 398px;
    left: 200px;
    top:-40px;

}

.circleb{
    
    background: #4C525C;
    border-radius:50%;
    position: absolute;
    width: 700px;
    height: 700px;
    left: -184px;
    top: -412px;


}

.circlec{
    
    background: #FFAE48;
    border-radius:50%;
    position: absolute;
    width: 398px;
    height: 398px;
    left: -149px;
    top: -242px;


}

.welc {
    font-size: 2.875rem;
    line-height: 55px;
    color: white;
    margin-bottom: 9.625rem;
    position:absolute;
    top:150px;
    left:50px;
  }



.mail{
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 80%;
    height: 30px;
    border-radius: 20px;
    border:none;
    font-size: 20px;
    padding: 26px;
    right: 30px;
}

.pass{
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 80%;
    height: 30px;
    right: 30px;
    border-radius: 20px;
    border:none;
    font-size: 20px;
    padding:26px;
    bottom:230px;
    
    
}

.circled{
    background: #4C525C; 
    border-radius: 50%; 
    position: absolute;
    left: 270px;
    top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    
}


h3{
    color: #000000;
    position: absolute;
    width: 106px;
    height: 38px;
    left: 50px;
    top: 510px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
}

.su{
    color: #000000;
    position: absolute;
    width: 68px;
    height: 22px;
    left: 41px;
    top: 740px;
    font-family: 'Futura Hv BT';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
}

.below {
    display: flex;
    justify-content: space-between;
    position:absolute;
    bottom: 0px;

}

a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left {
    position: absolute;
    color: #000000;
    padding: 5px;
    left:-40px;
  }
  
  
  .left::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 9px;
    background-color: hsla(55, 66%, 69%, 1);
    bottom: 0;
    left: 0px;
    bottom: 5px;
    z-index: -1;
  }
  
  .right {
    position: relative;
    color: #000000;
    padding: 5px;
    right:-101px;
  }
  
  .right::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 9px;
    background: hsla(357, 96%, 79%, 1);
    bottom: 0;
    left: 0;
    bottom: 5px;
    z-index: -1;
  }
  